<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include sidebar.html %}
    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Intro -->
          <section id="intro" class="wrapper style1 fullscreen fade-up">
            <div class="inner">
              <h1>eVOX</h1>
              <h2>A hybrid solution, where brokers and the electronic system exist side by side. Allowing participants to enjoy the efficiencies of electronic trade negotiation while also having the option of discussing bespoke products with brokers.
			  <br>A true multi broker market place.</br></h2>
              <ul class="actions">
                <li><a href="#four" class="button scrolly">Learn more</a></li>
              </ul>
            </div>
          </section>

		          <!-- Four -->
          <section id="four" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Trading</h2>
            <p>The platform preserves anonymity throughout the community, offering trading models for matched principal and introducing broker. Feedback from the community instigated features such as participant restricted and public for orders. In short, you can either define a who you can negotiate and trade with per order, if you have opted to restrict an order being seen by a member of the eVOX community, this action will be unknown.</p>

              <P>We believe our true multi-broker facilitation to be a unique selling point. Participants can “tag” brokers whom they would like to be considered to complete the trade. This single pane of glass approach has received great community feedback and is some we are proud to provide.</p>

              <p>Here are two example workflows for matched principal and introducing broker.</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		          <!-- Five -->
          <section id="five" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Company Accounts</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#intro" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		          <!-- Six -->
          <section id="six" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">General Permissioning</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Activity</th><th>Generic User</th><th>Company Admin</th></tr></thead><tbody>
 <tr><td class="dark" colspan="0">Company Account Management</td><td class="dark">&nbsp;</td><td class="dark">&nbsp;</td></tr>
 <tr><td>Allocate Company Accounts</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Company Users</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Account Level Permissions</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Broker Relationships</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Trading Permission Settings</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Broker Permission Settings</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Groups (Trading & Broking)</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Restricted Lists (Securities & Participants)</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Manage Company Pre & Post Trade Instant Message permissions</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Billing Terms for Broker Relationships</td><td align="center">-</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td class="dark" colspan="0">Data Management</td><td class="dark" colspan="0">&nbsp;</td><td class="dark" colspan="0">&nbsp;</td></tr>
 <tr><td>Create/Edit/Remove Groups (Data Contribution & Data Subscription)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Market Data Products</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Corporate Action Data (Subject to membership to Data Contribution Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Custom Securities (Subject to membership to Data Contribution Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Custom Indices (Subject to membership to Data Contribution Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Security Data (Subject to membership to Data Contribution Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td class="dark" colspan="0">Trading</td><td class="dark" colspan="0">&nbsp;</td><td class="dark" colspan="0">&nbsp;</td></tr>
 <tr><td>Create/Edit/Remove Watchlists (User Owned Only)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Participant Lists (Subject to membership to Data Contribution Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Orders (Subject to membership to Trading Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Create/Edit/Remove Quotes (Subject to membership to Trading Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Accept/Reject Quotes (Subject to membership to Trading Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Accept/Reject Broker Pending Deals (Subject to membership to Broker Group and applies to Matched Principle Orders only)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>View Live Trading Updates For eVOX Trading Activity (Subject to Permission Level Controls)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>View Live Transaction Updates For eVOX Transaction Activity (Subject to membership to Broker/Trading Group)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
 <tr><td>Send/Receive Instant Chat Messages for Quotes & Transactions (Subject To Company Account Level Chat Permission Settings)</td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td><td align="center"><i class="fa fa-check" aria-hidden="true"></i></td></tr>
</tbody></table>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Seven -->
          <section id="seven" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Broker Relationships</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- eight -->
          <section id="eight" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Approval Process</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Nine -->
          <section id="nine" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Transaction Flow</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Ten -->
          <section id="ten" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Securities</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

              <table class="tableizer-table">
              <thead><tr class="tableizer-firstrow"><th>API Method</th><th>End Point URL</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th></tr></thead><tbody>
               <tr><td>POST</td><td colspan="6">/api/1.0/data/security</td></tr>
               <tr><td class="dark" colspan="7">Description</td></tr>
               <tr><td colspan="7">&nbsp;</td></tr>
               <tr><td class="dark">Parameter</td><td class="dark">Type</td><td class="dark">Required</td><td class="dark">Values</td><td class="dark">Validation</td><td class="dark">Description</td><td class="dark">Input</td></tr>
               <tr><td>Name</td><td>String</td><td>Yes</td><td></td><td>Length Min: 5, Max: 50, Alphanumeric symbols</td><td></td><td rowspan="8"><pre><code style="font-size: 14px">  {
     "Data":
     {
         "Name":"Test new security",
         "SecurityTypeId":87,
         "CountryId":"US",
         "CurrencyId":"USD",
         "ReadGroupId":13,
         "WriteGroupId":1,
         "SecurityData":
           [
               {FieldId:18, Value:"2M"}
           ]
       }
     }  </code></pre></td></tr>
               <tr><td>Security Type ID</td><td>Integer</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td>Country ID</td><td>String</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td>Currency ID</td><td>String</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td>Read Group ID</td><td>Integer</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td>Write Group ID</td><td>Integer</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td>Security Data</td><td colspan="4">Array <table width="100%" border="0" bgcolor="#009900" cellspacing="0">
                <tr><td class="dark">Parameter</td><td class="dark">Type</td><td class="dark">Required</td><td class="dark">Values</td><td class="dark">Description</td><td class="dark">Validation</td></tr>
                <tr><td>Field ID</td><td>Integer</td><td>Yes</td><td></td><td></td><td></td></tr>
                <tr><td>Value</td><td>String</td><td>Yes</td><td></td><td></td><td></td></tr>
</table></td><td>&nbsp;</td></tr>
               <tr><td>Currency ID</td><td>String</td><td>FALSE</td><td>abc</td><td>abc</td><td>&nbsp;</td></tr>
               <tr><td class="dark" colspan="7">Output Code</td></tr>
               <tr><td colspan="7">&nbsp;</td></tr>
               <tr><td class="dark">Field Name</td><td class="dark">Type</td><td class="dark">Description</td><td class="dark" colspan="4">OutPut</td></tr>
               <tr><td>ID</td><td>Integer</td><td></td><td colspan="4" rowspan="8"><pre><code style="font-size: 14px">  {
  "Item":
  {
    "SecurityData": [
      {
        "SecurityId": "EVOX0000009I",
        "FieldId": 18,
        "Value": "2M",
        "Id": 173
      }
    ],
    "Name": "Test new security",
    "SecurityTypeId": "87",
    "CountryId": "US",
    "CurrencyId": "USD",
    "ReadGroupId": 13,
    "WriteGroupId": 1,
    "Id": "EVOX0000009I"
  },
  "Success": true
} </code></pre></td></tr>
               <tr><td>Name</td><td>String</td><td></td></tr>
               <tr><td>Security Type ID</td><td>Integer</td><td></td></tr>
               <tr><td>Country ID</td><td>String</td><td></td></tr>
               <tr><td>Currency ID</td><td>String</td><td></td></tr>
               <tr><td>Read Group ID</td><td>Integer</td><td></td></tr>
               <tr><td>Write Group ID</td><td>Integer</td><td></td></tr>
               <tr><td>SecurityData</td><td>Array <table width="100%" border="0" bgcolor="#009900" cellspacing="0">
                <tr><td class="dark">Parameter</td><td class="dark">Type</td><td class="dark">Description</td></tr>
                <tr><td>Field ID</td><td>Integer</td><td></td></tr>
                <tr><td>Value</td><td>String</td><td></td></tr>
</table>      </td><td></td></tr>
               <tr><td class="dark" colspan="7">Response</td></tr>
               <tr><td colspan="7">&nbsp;</td></tr>

              </tbody></table>


              <br></br>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Eleven -->
          <section id="eleven" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Restricted Lists</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Twelve -->
          <section id="twelve" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Watchlists</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Thirteen -->
          <section id="thirteen" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Exchange Information</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
            </div>
          </section>
		  		  		  		          <!-- Fourteen -->
          <section id="Fourteen" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">Data Subscription Services</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>
			 </div>
          </section>
		   		          <!-- Fithteen -->
          <section id="fithteen" class="wrapper style4 fade-up">
            <div class="inner">
              <h2 style="color:#000">API Structure</h2>
              <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                <ul class="actions">
                <li><a href="#" class="button">Learn more</a></li>
              </ul>

			 </div>




          </section>

      </div>


    {% include footer.html %}

  </body>

</html>
